*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-md;
    font-weight: $font-weight-medium;
}
a {
    text-decoration: none;
    transition: all 300ms linear;
}
ul {
    list-style: none;
}
h1 {
    font-size: $font-size-lg;
    line-height: $line-height-xl;
}
h2 {
    font-size: $font-size-md;
    line-height: $line-height-lg;
}
h3 {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
}
h4 {
    line-height: $line-height-base;
}
p {
    line-height: $line-height-base;  
}