.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* h2,h3 */
.h2 {
    font-size: $font-size-md;
    line-height: $line-height-lg;
}
.h3 {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
}

/* line-height */
.line-height-sm {
    line-height: $line-height-sm;
}
.line-height-md {
    line-height: $line-height-md;
}

/* font */
.font-weight-bold {
    font-weight: $font-weight-bold;
}
.font-weight-bolder {
    font-weight: $font-weight-bolder;
}
.font-size-sm {
    font-size: $font-size-sm;
}

/* text */
.text-center {
    text-align: center;
}
.text-white {
    color: $white;
}

/* background */
.bg-black {
    background: $black;
}

/* border */
.border-bottom {
    border-bottom: 1px solid $black;
}

/* flex */
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}

/* display */
.d-block {
    display: block;
}

/* padding */
.pb-1 {
    padding-bottom: $spacer-1;
}
.pb-6 {
    padding-bottom: $spacer-6;
}
.pb-9 {
    padding-bottom: $spacer-9;
}
.pb-10 {
    padding-bottom: $spacer-10;
}

.pb-1 {
    padding-top: $spacer-1;
}
.pt-7 {
    padding-top: $spacer-7;
}

/* margin */
.mb {
    margin-bottom: $spacer;
}
.mb-1 {
    margin-bottom: $spacer-1;
}
.mb-2 {
    margin-bottom: $spacer-2;
}
.mb-3 {
    margin-bottom: $spacer-3;
}
.mb-4 {
    margin-bottom: $spacer-4;
}
.mb-5 {
    margin-bottom: $spacer-5;
}
.mb-6 {
    margin-bottom: $spacer-6;
}
.mb-7 {
    margin-bottom: $spacer-7;
}
.mt-1 {
    margin-bottom: $spacer-1;
}
.mx-auto {
    margin: 0 auto;
}
.mr-1 {
    margin-right: $spacer-1;
}